.DetailsModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;

  background-color: white;
}

.DetailsModal .text {
  flex-shrink: 1;
}

.DetailsModal .descriptionIcon {
  margin-top: 2px;
}

.DetailsModal .cursor {
  cursor: pointer;
}
.DetailsModal .link {
  color: #5b89ff;
  font-weight: bold;
}
