:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "GmarketSans";
  src: url("./fonts/GmarketSans.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "NanumGothic";
  src: url("./fonts/NanumGothic.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "NanumGothic";
  src: url("./fonts/NanumGothicBold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "NanumGothic";
  src: url("./fonts/NanumGothicExtraBold.woff") format("woff");
  font-weight: 900;
}

@media (prefers-color-scheme: dark) {
  .dark-white {
    color: #fff;
  }
  .dark-transparent {
    background: none;
  }
}

.GmarketSans {
  font-family: "GmarketSans";
}

.NanumGothic {
  font-family: "NanumGothic";
}

input {
  outline: none;
  border: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  height: 100%;
}
